
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Assignment Tejas</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a [routerLink]="['/home']">
        Home
      </a></li>
      <li routerLinkActive="active"><a [routerLink]="['/employee']" >
        Employees
      </a></li>
    </ul>
  </div>
</nav>

<!-- <a [routerLink]="['/home']">
  Home
</a>
<a [routerLink]="['/employee']" >
  Employees
</a> -->
<router-outlet></router-outlet>
